{% load static tinycontent_tags bootstrap4 django_bootstrap_breadcrumbs i18n hreflang_tags langswitch_tags backend_utils flatpage_url cache %}
{% load promo_tags offer_tags %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article# profile: http://ogp.me/ns/profile# video: http://ogp.me/ns/video# product: http://ogp.me/ns/product#">
<head>
    <title>{% block title %}{{ site_info.index_title }}{% endblock title %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta_tags %}
    <meta name="description" content="{{ site_info.index_description }}">
    <meta name="keywords" content="{{ site_info.index_keywords }}">
    {% endblock meta_tags %}
    <meta property="og:site_name" content="{{ SITE_NAME }}">
    <meta property="og:locale" content="{{ SITE_LOCAL }}">
    {% block og_tags %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ site_info.index_title }}">
    <meta property="og:description" content="{{ site_info.index_description }}">
    <meta property="og:url" content="{{ SITE_ROOT }}">
    <meta property="og:image" content="{{ SITE_ROOT }}{% static 'base/images/logo.og.png' %}">
    {% endblock og_tags %}
    {% block head_hreflang_block %}{% head_hreflang_url %}{% endblock head_hreflang_block %}
    {# распродажа #}

    {% block head_css %}{% render_bundle 'common' 'css' %}{% endblock head_css %}
    {% block head_js %}
        <script>window.debug = {{ debug|default:'False'|lower }};</script>
    {% endblock head_js %}
    {% tinycontent_simple 'head_site_rights' %}
</head>
<body>
    <noscript>
        <p>{% blocktrans %}Мы сожалеем, но для нормальной работы сайта необходим JavaScript. Пожалуйста включите его.
            Более подробную информацию можно узнать перейдя по ссылке: {% endblocktrans %}
            <a href="https://yandex.ru/support/common/browsers-settings/browsers-java-js-settings.html">https://yandex.ru/support/common/browsers-settings/browsers-java-js-settings.html</a>
        </p>
    </noscript>
{% block header %}

    <!-- header -->
    <header class="header">
        {% include 'site/header/top-menu.html' %}
        {% if request.user.is_authenticated and request.user.is_staff %}
            {% include 'site/header/staff-menu.html' %}
        {% endif %}
        {% include 'site/header/main-menu.html' %}
    </header>
    <!-- /header -->
{% endblock header %}
<!-- content -->
    <main>
        <div class="container">
            {% block breadcrumbs %}

            {% endblock %}
            {% block content-wide %}
            <div class="row">
                <div class="{% block main-content-grid-classes %}col-md-9{% endblock main-content-grid-classes %} main-content" id="main-content">
                    {% block content_title %}<h1>Заголовок</h1>{% endblock content_title %}
                    {% bootstrap_messages %}
                    {% block content %}<article>Контент</article>{% endblock content %}
                    {% block content_footer %}{% endblock content_footer %}
                </div>
                <div class="{% block main-sidebar-grid-classes %}col-md-3{% endblock main-sidebar-grid-classes %} main-sidebar mt-3 mt-md-0">
                    {% block sidebar-first %}
                    {% endblock sidebar-first %}
                    {% block sidebar-second %}
                         {% endblock sidebar-second %}
                    {% block banner_sidebar %}

                    {% endblock banner_sidebar %}
                </div>
            </div>
            {% endblock content-wide %}
        </div>
    </main>
<!-- content -->
{% block content_bottom_menu %}

{% endblock content_bottom_menu %}
 <!-- footer -->
<footer class="footer">
</footer>
<!-- /footer -->
{% block footer_css %}{% endblock footer_css %}
{# js перводы и урли #}
<script src="{% url 'javascript-catalog' %}"></script>
<script src="{% url 'js_reverse' %}" type="text/javascript"></script>

{% block footer_js %}
    {% render_bundle 'common' 'js' %}
{% endblock footer_js %}
</body>
</html>

