{% extends "base.html" %}
{% load i18n django_bootstrap_breadcrumbs shop_offers_tags %}
{% block title %}{% firstof shopoffers_type.seo_title shopoffers_type.name %}{% endblock title %}
{% block meta_tags %}
    <meta name="description" content="{{ shopoffers_type.seo_description }}">
    <meta name="keywords" content="{{ shopoffers_type.seo_keywords }}">
{% endblock meta_tags %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if shopoffers_type %}{% breadcrumb shopoffers_type.name shopoffers_type %}{% endif %}
{% endblock %}

{% block content_title %}<h1>{{ shopoffers_type.name }}</h1>{% endblock content_title %}
{% block sidebar-first %}
    {% if SALE.run %}
        {% random_offers %}
    {% else %}
        {% popular_offers group='tab' count=6 layout='vertical' show_replacement=True %}
    {% endif %}
{% endblock sidebar-first %}
