{% extends "shop/base.html" %}
{% load i18n editlink_tags youtube_video_tags thumbnail static django_bootstrap_breadcrumbs bootstrap4 %}
{% load comments_tags shop_tags shop_offers_tags price_tags offer_tags shop_offers_tags promo_tags aphorism_tags cache %}
{% load render_bundle from webpack_loader %}
{% block head_css %}{% render_bundle 'shopDetail' 'css' %}{% endblock head_css %}
{% block title %}{{ object.seo_title }}{% endblock title %}
{% block meta_tags %}
    <meta name="description" content="{{ object.seo_metadesc }}">
    <meta name="keywords" content="{{ object.seo_metakeywords }}">
{% endblock meta_tags %}
{% block og_tags %}
    <meta property="og:type" content="video.other">
    <meta property="og:title" content="{{ object.seo_title }}">
    <meta property="og:description" content="{{ object.seo_metadesc }}">
    <meta property="og:url" content="{{ object.get_full_url }}">
    {% if object.image %}<meta property="og:image" content="{{ object.get_full_image_url }}">{% endif %}
    <meta property="og:video" content="{{ object.video_url }}">
    <meta property="og:video:type" content="flash"/>
    <meta property="video:writer" content="{{ object.user_created }}">
    <meta property="video:duration" content="{{ object.video_duration_in_sec }}">
    <meta property="ya:ovs:upload_date" content="{{ object.video_upload_date }}"/>
    <meta property="ya:ovs:adult" content="false"/>

     <meta property="product:brand" content="{{ object.user_created }}">
     <meta property="product:availability" content="in stock">
     <meta property="product:condition" content="new">
    {% item_price_as_dict object as price_info %}
     <meta property="product:price:amount" content="{{ price_info.amount }}">
     <meta property="product:price:currency" content="{{ price_info.currency }}">
     <meta property="product:retailer_item_id" content="{{ object.id }}_{{ LANGUAGE_CODE }}">

    {% if object.get_tags %}
        {% for tag in object.get_tags %}
            <meta property="article:tag" content="{{ tag }}">
        {% endfor %}
    {% endif %}
{% endblock og_tags %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object.title object %}
{% endblock %}

{% block main-content-grid-classes %}col-lg-9 col-md-12{% endblock main-content-grid-classes %}
{% block main-sidebar-grid-classes %}col-lg-3 col-md-0{% endblock main-sidebar-grid-classes %}
{% block content_title %}{% endblock content_title %}

{% block content %}
{% if object.is_delete %}<div class="alert alert-danger">DELETED!</div>{% endif %}
<div itemscope itemtype="https://schema.org/Product" class="detail">
    <link itemprop="url" href="{{ object.get_full_url }}">
    <link itemprop="mainEntityOfPage" href="{{ object.get_full_url }}">
    <meta itemprop="name alternateName" content="{{ object.title }}">
    <meta itemprop="brand" content="{{ object.user_created }}">
    <meta itemprop="sku" content="{{ object.id }}_{{ LANGUAGE_CODE }}">
    <div class="flex-wrap flex-md-nowrap detail-header">
        <div class="flex-column flex-grow-1 detail-header-info">
            <h1>{{ object.name }} <div class="ml-1 small d-inline-block">{% favorite_button request.user object %}</div></h1>
            {% if object.get_composer %}<p class="h5 detail-header-info__text"><a href="{% if object.get_composer.get_absolute_url %}{{ object.get_composer.get_absolute_url  }}{% else %}javascript:voind(0);{% endif %}">{{ object.get_composer }}</a> <small>{% trans 'Композитор' %}</small></p>{% endif %}
            {% if object.get_performer %}<p class="h5 detail-header-info__text"><a href="{% if object.get_performer.get_absolute_url %}{{ object.get_performer.get_absolute_url  }}{% else %}javascript:voind(0);{% endif %}">{{ object.get_performer }}</a> <small>{% trans 'Исполнитель' %}</small></p>{% endif %}
            {% if object.get_film %}<p class="h5 detail-header-info__text"><a href="{% if object.get_film.get_absolute_url %}{{ object.get_film.get_absolute_url  }}{% else %}javascript:voind(0);{% endif %}">{{ object.get_film }}</a> <small>{% trans 'Кинофильм' %}</small></p>{% endif %}
            {% include 'offer/include/statistics.html' with payment=True offer=object %}
        </div>
        <div class="flex-column" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <link itemprop="availability" href="http://schema.org/InStock">
            <link itemprop="itemCondition" href="http://schema.org/NewCondition">
            <meta itemprop="priceValidUntil" content="2050-12-31">
            <link itemprop="url" href="{{ object.get_full_url }}">
            <div class="detail-header-form mt-2">
                <div class="flex-column flex-lg-grow-1 detail-header-form__price mb-2">
                    {% if not object.is_free %}
                        {% item_price object True as offer_item_price %}
                        <small>{% trans 'Цена:' %}</small>
                        {% if not object.discount %}
                        <span class="h5">{{ offer_item_price }}</span>
                        {% else %}
                            <span class="h5 price_type_striked">{{ offer_item_price }}</span><br>
                            <span class="h5 price_type_discount" id="analytics-price-{{ object.pk }}">{% item_discount_price object %}</span>
                        {% endif %}
                    {% else %}
                        <small class="d-md-none">{% trans 'Цена:' %}</small> <span class="h5" itemprop="price" content="0.0">{% trans 'Бесплатно' %}</span>
                        <meta itemprop="priceCurrency" content="{{ currency.iso_code }}">
                    {% endif %}
                </div>
                {% if request.user.is_authenticated and user_bought %}
                    {% load cart_tags %}
                    <div class="detail-already-bought btn-fat_width_100">
                        {% trans 'Куплено' %}
                        <a href="{% get_file_link object %}"
                            class="btn btn-sm btn-outline-dark btn-fat btn-fat_width_100 text-uppercase mt-2">
                            {% trans 'Скачать' %}</a>
                    </div>
                {% else %}
                    {# выводит форму покупки или кнопку для открытия модального окна #}
                    {% get_buy_one_click_form object %}
                {% endif %}
                {% if not object.is_free and not user_bought %}
                        <div class="flex-column flex-grow-1 mb-2 btn-fat_width_100">
                            <button
                                class="btn btn-sm btn-outline-dark btn-fat btn-fat_width_100 text-uppercase cart-add-button"
                                data-offer="{{ object.pk }}" data-out="long">
                                {% trans 'Добавить в корзину' %}
                            </button>
                        </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="flex-wrap flex-md-nowrap detail-main">
        <div class="detail-main-info mr-md-2 flex-grow-1">
            {% if object.image %}
            <aside class="detail-main-info-image flex-column d-flex" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                <link itemprop="contentUrl" href="{{ object.get_full_image_url }}">
                <meta itemprop="name" content="{{ object.title }}">
                <meta itemprop="datePublished" content="{{ object.date_created|date:"Y-m-d" }}">
                <meta itemprop="author" content="{{ object.user_created }}">
                <div class="gallery">
                    <a href="{{ object.image.url }}" title="{{ object.name }}" data-caption="{{ object.name }}">
                    <picture>
                        {% thumbnail object.image "200x250" crop="top" quality=85 format='WEBP' as wim %}
                            <source type="image/webp" srcset="{{ wim.url }}">
                        {% endthumbnail %}
                        {% thumbnail object.image "200x250" crop="top" quality=85 as im %}
                            <source type="image/png" srcset="{{ im.url }}">
                            <img src="{{ im.url }}"
                                 alt="{{ site_info.image_alt }}. {{ object.name }}."
                                 title="{{ site_info.image_alt }}. {{ object.title }}."
                                 class="img-fluid">
                        {% endthumbnail %}
                    </picture>
                    </a>
                </div>
                <span class="image-zoom"></span>
            </aside>
            {% endif %}
            <aside class="flex-column d-flex">
                <p><time>{{ object.date_created|date:"d.m.Y H:i" }}</time></p>
                <p>
                    {% trans 'Автор' %}<br>
                    <a href="{{ object.user_created.get_absolute_url }}" class="detail-author" title="{% trans 'Перейти на страницу автора' %}">{{ object.user_created }}</a>
                </p>
                {% if object.get_tags %}
                    <p class="tags-detail">
{#                        {% for tag in object.get_tags %}<a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>#}
                        {% for tag in object.get_tags %}<a href="{% url 'shop-tag-main' shopoffers_type_slug=shopoffers_type.slug tag=tag.slug %}">#{{ tag }}</a>
                        {% if not forloop.last %}<br>{% endif %}{% endfor %}
                    </p>
                {% endif %}
                <p>{% trans 'Сложность' %}<br><span class="detail-main-info-important">{{ object.get_difficulty_display }}</span></p>
                {% if object.tonality %}<p>{% trans 'Тональность' %}<br><span class="detail-main-info-important">{{ object.get_tonality_display }}</span></p>{% endif %}
            </aside>
            {% if object.votes_count %}
            <aside class="flex-column mt-md-5 mb-4 mb-md-0">
                {# оценивание аранжировок привязано к отывам тут только отображение оценки #}
                {% trans 'Оценка покупателей' as vote_title %}
                {% trans 'Оценивать характеристики могут только пользователи, купившие данное предложение.' as vote_description %}
                {% include 'offer/include/vote_stars.html' with object=object description_place='top' criterias=vote_criterias justify_content_votes='' justify_content_rating='' %}
            </aside>
            {% endif %}
            {% block buy-all-arrangements %}{% endblock buy-all-arrangements %}
        </div>
        <div class="detail-main-content">
            <div itemprop="video" itemscope itemtype="http://schema.org/VideoObject">
                <meta itemprop="name" content="{{ object.title }}" />
                <meta itemprop="description" content="{% firstof object.seo_metadesc object.description|striptags|truncatechars:150 %}" />
                <meta itemprop="isFamilyFriendly" content="True" />
                <link itemprop="thumbnail thumbnailUrl" href="{{ object.video_thumbnail_url }}">
                <meta itemprop="uploadDate" content="{{ object.video_upload_date }}" />
                <meta itemprop="duration" content="{{ object.video_duration }}" />
                <link itemprop="url" href="{{ object.video_url }}">
                {% load_youtube_picture_player object %}
            </div>
            <div class="mt-3">
                {% trans "понравилось" as rating_title %}
                {% include "offer/include/vote_like.html" with title=rating_title %}
                <div class="ml-3 d-inline-block">{% favorite_button request.user object %}</div>
                <button
                    class="btn btn-light btn-sm text-uppercase ml-sm-3 mt-3 mt-sm-0 create-response">
                    <img src="{% static 'base/images/add_comment_btn.png' %}" alt="comment">
                    {% trans 'Оставить отзыв' %} ({{ object.comments_count }})
                </button>
                {# показать техники - модальное окно #}
                {% include "shop/include/techniques-list.html" with techniques=object.techniques %}
            </div>
            <div class="mt-4" itemprop="description">
                {% block detail-main-description %}{% endblock detail-main-description %}
            </div>
            {% if not user_bought %}
            <div class="mt-4 d-flex flex-row flex-wrap justify-content-center
                        justify-content-between">
                {# выводит форму покупки или кнопку для открытия модального окна #}
                {% get_buy_one_click_form object size='normal' %}
                {% if not object.is_free %}
                    <div class="flex-column mb-2 mr-2 mr-sm-0">
                        <button
                            class="btn btn-sm btn-outline-dark btn-fat text-uppercase cart-add-button"
                            data-offer="{{ object.pk }}" data-out="long">
                            {% trans 'Добавить в корзину' %}
                        </button>
                    </div>
                {% endif %}
            </div>
            {% endif %}
            {% block detail-tinycontent-block %}{% endblock detail-tinycontent-block %}
            <div class="mt-4">{% include 'base/include/social_buttons.html' %}</div>
            {% get_song_text %}
            <div class="mt-4">
                {% include "comments/include/widget.html" %}
            </div>
            {% similar_items_by_from_author object count=3 %}
            {% get_random_aphorism %}
        </div>
    </div>
</div>
{% if not user_bought %}
    {# выводим модальное окно для формы покупки, если оно нам нужно #}
    {% get_buy_form_modal object %}
{% endif %}
{% endblock content %}
{% block sidebar-first %}
    {% get_promo 'shop_detail_sidebar' %}
    {% if has_permission and not object.checked %}
        <form action="{{ request.path_info }}" method="post" class="mb-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Одобрить' %}</button>
        </form>
    {% endif %}
{% endblock sidebar-first %}
{% block sidebar-second %}{% endblock sidebar-second %}
{% block footer_css %}
    <style>
    .collapse-wrapper a.collapsed:after  {
        content: '+ {% trans "Развернуть" %}';
    }
    .collapse-wrapper a:not(.collapsed):after {
        content: '- {% trans "Свернуть" %}';
    }
    </style>
{% endblock footer_css %}
{% block footer_js %}
 {% render_bundle 'shopDetail' 'js' %}
{% endblock footer_js %}
