{% extends "shop/base.html" %}
{% load bootstrap4 django_bootstrap_breadcrumbs i18n tinycontent_tags shop_tags static flatpage_url %}
{% load render_bundle from webpack_loader %}
{% block title %}{% if bestsellers %}{{ site_info.bestsellers_content_title }}{% elif tag and tag.seo_title %}{{ tag.seo_title }}{% elif cpf %}{% if cpf.seo_title %}{{ cpf.seo_title }}{% else %}{{ cpf_type }} - {{ site_info.shop_content_title|lower }}{% endif %}{% else %}{{ block.super }}{% endif %}{% endblock title %}
{% block meta_tags %}
    {% if bestsellers %}
        <meta name="description" content="{{ site_info.bestsellers_description }}">
        <meta name="keywords" content="{{ site_info.bestsellers_keywords }}">
    {% elif tag and tag.seo_metadesc and tag.seo_metakeywords %}
        <meta name="description" content="{{ tag.seo_metadesc }}">
        <meta name="keywords" content="{{ tag.seo_metakeywords }}">
    {% elif cpf %}
        <meta name="description" content="{% if cpf.seo_metadesc %}{{ cpf.seo_metadesc }}{% else %}{{ site_info.shop_content_title }} {% trans 'к музыке' %} {{ cpf_type2 }} {{ cpf }}.{% endif %}">
        <meta name="keywords" content="{% if cpf.seo_metakeywords %}{{ cpf.seo_metakeywords }}{% else %}{{ site_info.shop_keywords }}, {{ cpf_type|lower }}{% endif %}">
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta_tags %}
{% block og_tags %}
    {% if bestsellers %}
        <meta property="og:title" content="{{ site_info.bestsellers_og_title }}">
        <meta property="og:description" content="{{ site_info.bestsellers_description }}">
    {% else %}
        <meta property="og:title" content="{% if cpf %}{{site_info.shop_cpf_og_title}} {{ cpf_type2 }} {{ cpf }}{% else %}{{ site_info.shop_og_title }}{% endif %}">
        <meta property="og:description" content="{% if cpf %}{{site_info.shop_cpf_description}} {{ cpf_type2 }} {{ cpf }}{% else %}{{ site_info.shop_description }}{% endif %}">
   {% endif %}
    <meta property="og:url" content="{{ request.path_info }}">
    <meta property="og:image" content="{{ SITE_ROOT }}{% static 'base/images/logo.og.png' %}">
{% endblock og_tags %}
{% block head_js %}
    {# костыль для селект2 #}
    {{ block.super }}
    {% if is_elasticsearch %}<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>{% endif %}
{% endblock head_js %}
{% block breadcrumbs %}
    {{ block.super }}
    {% if bestsellers or discounts or populars %}{% breadcrumb title '' %}{% endif %}
    {% if tag %}{% breadcrumb tag.name tag %}{% endif %}
    {% if cpf %}{% breadcrumb cpf_type cpf %}{% endif %}
    {% if 'q' in request.GET and request.GET.q %}
        {% trans 'Результаты поиска' as search_title %}
        {% breadcrumb search_title '' %}
    {% endif %}
{% endblock %}
{% block content_title %}
    <h1>{% if title %}{{ title }}
        {% elif tag %}
        {# Translators: Название категории на гитаре #}
        {{ tag.name }} {{ site_info.by_instrument }}
    {% elif 'q' in request.GET and request.GET.q %}
        {% trans 'Результаты поиска' %} {{ request.GET.q }}{% if search_count %} <small>({{ search_count }})</small>{% endif %}
    {% else %}
        {# site_info.shop_content_title #}{{ shopoffers_type.name }}{% if cpf %}: {{ cpf_type }} <small>({{ search_count }})</small>{% endif %}
    {% endif %}</h1>
    <div class="row">
        {% comment %}
        <div class="col">
            <form action="" method="post">
                <input name="object_id" value="{% firstof cpf.id tag.id 0 %}">
                <input name="content_type_id" value="{% firstof cpf.id tag.id 0 %}">
            <button class="btn btn-sm btn-primary">
                <span class="icon icon-plus"></span> {% trans 'Подписаться' %}
            </button>
            <button class="btn btn-sm btn-primary"><span class="icon icon-minus"></span> {% trans 'Отписаться' %}</button>
            </form>
        </div>
        {% endcomment %}
        {% block content_title_add_link %}<div class="col text-right"><a href="{% url 'my_arrangements_create' %}">{% trans 'Добавить аранжировку' %}</a></div>{% endblock content_title_add_link %}
    </div>
    {% if bestsellers %}{% tinycontent_simple 'shop_bestsellers' LANGUAGE_CODE %}{% endif %}
    {% if discounts %}{% tinycontent_simple 'shop_discounts' LANGUAGE_CODE %}{% endif %}
    {% if populars %}{% tinycontent_simple 'shop_populars' LANGUAGE_CODE %}{% endif %}
    {% if shopoffers_type %}{% tinycontent_simple 'shop_after_content_title' shopoffers_type.id LANGUAGE_CODE %}{% endif %}
{% endblock content_title %}

{% block content %}
    {% if is_elasticsearch %}
    <div class="spoiler mb-3">
        <p>
           <a title="{% trans 'Щелкните чтобы раскрыть' %}" class="btn btn-orange spoiler__collapsed-link collapsed" data-toggle="collapse" href="#collapseSpoiler" aria-expanded="false" aria-controls="collapseSpoiler">
               {% trans 'Открыть фильтры' %}
           </a>
        </p>
        <div class="collapse" id="collapseSpoiler">
            {% include 'base/include/base-filter.html' with payment=True %}
            {% if not discounts %}
            {% include 'offer/include/price-filter.html' %}
            {% endif %}
            {% include 'shop/include/tags-filter.html' %}
            {% block form_filter %}{% endblock form_filter %}
        </div>
    </div>
    {% endif %}
    {% if not has_filter %}
        {% if SALE.run and not SALE.sale_day_on %}
            {% load offer_tags %}
            {% sale_random_offers %}
        {% else %}
            {% load_discount_shop_offers shopoffers_type %}
        {% endif %}
    {% endif %}
    {% if is_paginated %}{% bootstrap_pagination page_obj url=request.build_absolute_uri %}{% endif %}
    {% block content_items_group %}
    <div class="card-group">
        {% for result in object_list %}
            {% if is_elasticsearch %}
                {% include 'shop/include/item_horizontal.html' with offer=result.object %}
            {% else %}
                {% include 'shop/include/item_horizontal.html' with offer=result %}
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}</div><div class="card-group">{% endif %}
        {% empty %}
            <p>{% trans 'К сожалению список аранжировок, удовлетворяющий выбранным условиям, еще пуст.' %}</p>
        {% endfor %}
    </div>
    {% endblock content_items_group %}
    {% if is_paginated %}<div class="mt-4">{% bootstrap_pagination page_obj url=request.build_absolute_uri %}</div>{% endif %}
{% endblock content %}
{% block banner_sidebar %}{% endblock banner_sidebar %}
{% block content_footer %}
{% if not 'page' in request.GET %}
    <div class="mt-4">
    {% if bestsellers %}
    {% elif tag and LANGUAGE_CODE == 'ru' %}
        {{ tag.description }}
    {% elif 'q' in request.GET and request.GET.q %}
    {% else %}
        {% if LANGUAGE_CODE == 'ru' or LANGUAGE_CODE == 'en' %}
            {# Translators: Here you can purchase quality guitar arrangements and covers (sheet music, tabs, gpx, gp) directly from skilled musicians. All arrangements and covers are verified before publication, and we offer special discounts for purchases of multiple arrangements in a single order. #}
            {% get_shop_list_description as info %}
            {{ info }}
            {% if not cpf %}
                {% get_flatpage_link 'forauthor' as forauthor_pages %}
                {% if forauthor_pages != '#' %}<br>
                    {{ site_info.shop_author_info }} <a href={{ forauthor_pages }}>{% trans 'ЗДЕСЬ' %}</a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
{% endif %}
{% endblock content_footer %}
{% block footer_css %}
    {% render_bundle 'offersList' 'css' %}
    {% if is_elasticsearch %}{{ sort_form.media.css }}{% endif %}
{% endblock footer_css %}
{% block footer_js %}
    {% render_bundle 'offersList' 'js' %}
    {% if is_elasticsearch %}
        {{ sort_form.media.js }}
        <script>
            $(document).ready(function () {
                //Fix the above style width:100%
                $('.select2').css('width', '100%');
            })
        </script>
    {% endif %}
    {# сбор аналитики GuitarOnly #}
    <script>
      window.onload = function () {
        if (!window.debug) {
          let filterLink = document.querySelector('.spoiler__collapsed-link');
          if (filterLink) {
            filterLink.addEventListener('click', function (event) {
              dataLayer.push({'event': 'clickFilter'});
              return true;
            });
          }
        }
      };
    </script>
{% endblock footer_js %}