{% extends "shop/base.html" %}
{% load static bootstrap4 django_bootstrap_breadcrumbs i18n shop_tags price_tags youtube_video_tags %}
{% load render_bundle from webpack_loader %}
{% block head_css %}{% render_bundle 'shopBuy' 'css' %}{% endblock head_css %}
{% block title %}{% if object.is_free %}{% trans 'Получить' %}{% else %}{% trans 'Купить' %}{% endif %}{% endblock title %}
{% block meta_tags %}{{ block.super }}<meta name="robots" content="noindex,follow" />{% endblock meta_tags %}
{% block content_title %}<h1>{% if object.is_free %}{% trans 'Получить' %}{% else %}{% trans 'Купить' %}{% endif %}</h1>{% endblock content_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb object object.get_absolute_url %}
    {% if object.is_free %}
        {% trans 'Получить' as crumb_title %}
    {% else %}
        {% trans 'Купить' as crumb_title %}
    {% endif %}
    {% breadcrumb crumb_title '' %}
{% endblock %}
{% block content %}
    {% if form.non_field_errors %}
        {% bootstrap_form_errors form 'non_fields' %}
    {% endif %}
    <div class="row mt-2">
        <div class="col-12 col-md-6">
            {% load_youtube_picture_player object %}
        </div>
        <div class="col-12 col-md-6 mt-3 mt-md-0">
            <p>
                <a href="{{ object.get_absolute_url }}" title="{% trans 'Вернуться' %}" class="font-weight-bold">{{ object.title }}</a>
            </p>
            <form method="post" action="{{ request.path_info }}" class="buy-modal-form" autocomplete="off">
                {% if not object.is_free %}
                    {% item_price object True as offer_item_price %}
                    <p>{% trans 'Цена:' %}
                    {% if not object.discount %}
                        <span class="h5 modal-price">{{ offer_item_price }}</span> &nbsp;
                        <span class="h5 modal-price-discount price_type_discount d-none" data-currency="{{ currency.short_name }}" data-currency-symbol="{{ currency.symbol|default:'' }}"></span>
                    {% else %}
                        <span class="h5 price_type_striked">{{ offer_item_price }}</span> &nbsp;
                        <span class="h5 price_type_discount">{% item_discount_price object %}</span>
                    {% endif %}
                    </p>
                {% endif %}
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == 'coupon' %}
                        {% bootstrap_field field form_group_class='coupon-field-wrapper d-none mb-3' addon_after_class='' addon_after=check_button %}
                    {% else %}
                        {% bootstrap_field field %}
                    {% endif %}
                {% endfor %}
                <div class="text-right">
                    <a href="{{ object.get_absolute_url }}" class="btn btn-secondary">{% trans 'Отменить' %}</a>
                    <button type="submit" class="btn btn-primary buy-now-submit">
                        {% if object.is_free %}{% trans 'Получить' %}{% else %}{% trans 'Перейти к оплате' %}{% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}
{% block sidebar-news %}{% endblock sidebar-news %}
{% block sidebar-second %}{% endblock sidebar-second %}
{% block footer_js %}
     {% render_bundle 'shopBuy' 'js' %}
{% endblock footer_js %}
