{% extends "shop/base.html" %}
{% load bootstrap4 django_bootstrap_breadcrumbs i18n %}

{% block head_js %}{% endblock head_js %}

{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb name_plural breadcrumb_url %}
{% endblock %}
{% block content_title %}
    <div class="row" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-8">
            <h1>{% trans 'Все' %} {{ name_plural }}</h1>
        </div>
    </div>
{% endblock content_title %}

{% block content %}
    {% if is_paginated %}{% bootstrap_pagination page_obj url=request.build_absolute_uri %}{% endif %}
    <div>
        <table border="1" width="100%" cellpadding="5">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Количество</th>
            </tr>

            {% for result in object_list %}
                <tr>
                    <th>{{ result.pk }}</th>
                    <th><a href="{{ result.get_absolute_url }}">{{ result }}</a></th>
                    <th>{{ result.count_item }}</th>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% if is_paginated %}{% bootstrap_pagination page_obj url=request.build_absolute_uri %}{% endif %}
{% endblock content %}
{% block footer_js %}
{% endblock footer_js %}