{% extends "shop/base-list.html" %}
{% load i18n flatpage_url shop_tags %}
{% block form_filter %}{% include 'shop/sheets/include/form-filter.html' %}{% endblock form_filter %}
{% block banner_sidebar %}{% endblock banner_sidebar %}
{% block content_footer %}
{% if not 'page' in request.GET %}
    <div class="mt-4">
    {% if bestsellers %}
    {% elif tag and LANGUAGE_CODE == 'ru' %}
        {{ tag.description }}
    {% else %}
        {% if LANGUAGE_CODE == 'ru' or LANGUAGE_CODE == 'en' %}
            {# Translators: Here you can purchase quality guitar arrangements and covers (sheet music, tabs, gpx, gp) directly from skilled musicians. All arrangements and covers are verified before publication, and we offer special discounts for purchases of multiple arrangements in a single order. #}
            {% get_shop_list_description as info %}
            {{ info }}
            {% if not cpf %}
                {% get_flatpage_link 'forauthor' as forauthor_pages %}
                {% if forauthor_pages != '#' %}<br>
                    {{ site_info.shop_author_info }} <a href={{ forauthor_pages }}>{% trans 'ЗДЕСЬ' %}</a>
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
    </div>
{% endif %}
{% endblock content_footer %}
