{% extends "base.html" %}
{% load bootstrap4 django_bootstrap_breadcrumbs i18n %}
{% load render_bundle from webpack_loader %}
{% block title %}{% trans 'Новые товары в магазине' %}{% endblock title %}
{% block meta_tags %}<meta name="robots" content="noindex,follow" />{% endblock meta_tags %}
{% block breadcrumbs %}
    {{ block.super }}
    {% trans 'Новые товары в магазине' as title %}
    {% breadcrumb title '' %}
{% endblock %}

{% block main-content-grid-classes %}col-md-12{% endblock main-content-grid-classes %}
{% block main-sidebar-grid-classes %}d-none{% endblock main-sidebar-grid-classes %}
{% block content_title %}<h1>{% trans 'Новые товары в магазине' %}</h1>{% endblock content_title %}
{% block content %}
    {% if is_paginated %}{% bootstrap_pagination page_obj url=request.build_absolute_uri %}{% endif %}
    <div class="card-group">
        {% for result in object_list %}
            {% include 'shop/include/item_horizontal.html' with offer=result %}
            {% if forloop.counter|divisibleby:5 %}</div><div class="card-group">{% endif %}
        {% empty %}
            <p class="text-success">{% trans 'Спасибо за работу. Все аранжировки проверены.' %}</p>
        {% endfor %}
    </div>
    {% if is_paginated %}{% bootstrap_pagination page_obj url=request.build_absolute_uri %}{% endif %}
{% endblock content %}
{% block sidebar-first %}{% endblock sidebar-first %}
{% block sidebar-second %}{% endblock sidebar-second %}
{% block footer_css %}{% render_bundle 'offersList' 'css' %}{% endblock footer_css %}
{% block footer_js %}{% render_bundle 'offersList' 'js' %}{% endblock footer_js %}