{% extends "base.html" %}
{% load bootstrap4 django_bootstrap_breadcrumbs thumbnail i18n static aphorism_tags %}
{% load render_bundle from webpack_loader %}
{% block head_css %}{% render_bundle 'pageInteractive' 'css' %}{% endblock head_css %}
{% block title %}{% if sale.seo_title %}{{ sale.seo_title }}{% else %}{{ sale.get_title }}{% endif %}{% endblock title %}
{% block meta_tags %}
    <meta name="description" content="{% firstof sale.seo_metadesc sale.announce %}">
    <meta name="keywords" content="{% if sale.seo_metakeywords %}{{ sale.seo_metakeywords }}{% else %}{% trans 'распродажа' %}, {{ site_info.shop_keywords }}{% endif %}">
{% endblock meta_tags %}
{% block og_tags %}
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ sale.get_title }}">
    <meta property="og:description" content="{{ sale.announce }}">
    <meta property="og:url" content="{{ sale.get_full_url }}">
    <meta property="og:image" content="">
{% endblock og_tags %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb sale.name '' %}
{% endblock %}
{% block content_title %}
    <h1>{{ sale.get_title }}</h1>{% if request.user.is_authenticated and request.user.is_staff %}<small>Status {{ sale.get_status_display }}</small>{% endif %}
{% endblock content_title %}
{% block content %}
    <div>
        {{ sale.description|safe }}
    </div>
    {% if sale.show_offer %}
    {% if is_paginated %}{% bootstrap_pagination page_obj url=request.build_absolute_uri %}{% endif %}
    <div class="card-group">
        {% for result in object_list %}
            {% include 'shop/include/item_horizontal.html' with offer=result %}
            {% if forloop.counter|divisibleby:4 %}</div><div class="card-group">{% endif %}
        {% endfor %}
    </div>
    {% if is_paginated %}<div class="mt-4">{% bootstrap_pagination page_obj url=request.build_absolute_uri %}</div>{% endif %}
    {% endif %}
    <div class="mb-4 mt-4 text-center">{% include 'base/include/social_buttons.html' %}</div>
    {% get_random_aphorism %}
{% endblock content %}
{% block footer_js %}{% render_bundle 'pageInteractive' 'js' %}{% endblock footer_js %}