{% extends "shop/base.html" %}
{% load bootstrap4 django_bootstrap_breadcrumbs i18n tinycontent_tags shop_tags static shop_offers_tags %}
{% load render_bundle from webpack_loader %}
{% block og_tags %}
    <meta property="og:url" content="{{ request.path_info }}">
    <meta property="og:image" content="{{ SITE_ROOT }}{% static 'base/images/logo.og.png' %}">
{% endblock og_tags %}
{% block head_js %}
    {# костыль для селект2 #}
    {{ block.super }}
    {% if is_elasticsearch %}<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>{% endif %}
{% endblock head_js %}
{% block breadcrumbs %}
    {{ block.super }}
    {% trans 'Результаты поиска' as search_title %}
    {% breadcrumb search_title '' %}
{% endblock %}
{% block content_title %}
    <h1>{% trans 'Результаты поиска' %} {% if search_count %} <small>({{ search_count }})</small>{% endif %}</h1>
{% endblock content_title %}

{% block content %}
    {% if is_elasticsearch %}
    <div class="spoiler mb-3">
        <p>
           <a title="{% trans 'Щелкните чтобы раскрыть' %}" class="btn btn-orange spoiler__collapsed-link collapsed" data-toggle="collapse" href="#collapseSpoiler" aria-expanded="false" aria-controls="collapseSpoiler">
               {% trans 'Открыть фильтры' %}
           </a>
        </p>
        <div class="collapse" id="collapseSpoiler">
            {% include 'base/include/base-filter.html' with payment=True %}
            {% if not discounts %}
            {% include 'offer/include/price-filter.html' %}
            {% endif %}
            {% include 'shop/include/tags-filter.html' %}
            {% include 'shop/include/form-filter.html' %}
        </div>
    </div>
    {% endif %}
    {% if is_paginated %}{% bootstrap_pagination page_obj url=request.build_absolute_uri %}{% endif %}
    <div class="card-group">
        {% for result in object_list %}
            {% if is_elasticsearch %}
                {% include 'shop/include/item_horizontal.html' with offer=result.object %}
            {% else %}
                {% include 'shop/include/item_horizontal.html' with offer=result %}
            {% endif %}
            {% if forloop.counter|divisibleby:4 %}</div><div class="card-group">{% endif %}
        {% empty %}
            <p>{% trans 'К сожалению по вашему запросу ничего не найдено.' %}</p>
        {% endfor %}
    </div>
    {% if is_paginated %}<div class="mt-4">{% bootstrap_pagination page_obj url=request.build_absolute_uri %}</div>{% endif %}
{% endblock content %}
{% block sidebar-first %}
    {# уроки или аранировки по теме #}
    {% mini_search_results shopoffers_type request.GET.q 6 %}
{% endblock sidebar-first %}
{% block banner_sidebar %}{% endblock banner_sidebar %}
{% block content_footer %}{% endblock content_footer %}
{% block footer_css %}
    {% render_bundle 'offersList' 'css' %}
    {% if is_elasticsearch %}{{ sort_form.media.css }}{% endif %}
{% endblock footer_css %}
{% block footer_js %}
    {% render_bundle 'offersList' 'js' %}
    {% if is_elasticsearch %}
        {{ sort_form.media.js }}
        <script>
            $(document).ready(function () {
                //Fix the above style width:100%
                $('.select2').css('width', '100%');
            })
        </script>
    {% endif %}
    {# сбор аналитики GuitarOnly #}
    <script>
      window.onload = function () {
        if (!window.debug) {
          let filterLink = document.querySelector('.spoiler__collapsed-link');
          if (filterLink) {
            filterLink.addEventListener('click', function (event) {
              dataLayer.push({'event': 'clickFilter'});
              return true;
            });
          }
        }
      };
    </script>
{% endblock footer_js %}