{% extends "shop/base.html" %}
{% load i18n %}
{% block content_title %}
    <div class="row">
        <div class="col-lg-8">
            <h1>{% trans 'Все теги' %}</h1>
        </div>
    </div>
{% endblock content_title %}

{% block content %}
    <div class="row">
        {% for result in object_list %}
            <div class="col mb-5"><a href="{{ result.get_absolute_url }}">{{ result }}</a></div>
        {% endfor %}
    </div>
{% endblock content %}
