{% extends "offer/include/offers_horizontal.html" %}
{% load i18n static tinycontent_tags bootstrap4 shop_tags price_tags %}
{% block section_footer %}
    {% get_buy_all_form author 'link' %}
    <p class="text-center my-2"><a href="{{ url }}" class="small">{{ link }} {{ author }} ({{ author.shop_offers_count }})</a></p>
{% endblock section_footer %}
