{% load i18n bootstrap4 shop_tags price_tags %}
{% if buy_all_form %}
    {% get_can_buy_all_and_one_price author as all_and_one_price %}
    {% if view_as == 'button' %}
        <aside class="flex-column mt-md-5 detail-main-info-buy-all">
            <p>{% trans 'Все аранжировки автора со скидкой' %} <span>-70%</span></p>
            {% if show_modal %}
                <div class="form-group">
                    <button type="button" class="btn btn-orange btn-fat btn-fat_width_100 text-uppercase"
                      data-toggle="modal" data-target="#buyAllModal" data-title="{% trans 'Купить все сразу' %}">
                        {% trans 'Купить все сразу' %}
                    </button>
                </div>
            {% else %}
                <form method="post" action="{% url 'user_page_user_buy_all' author.slug %}">
                    {% csrf_token %}
                    {% bootstrap_form buy_all_form show_label=False %}
                    <button type="submit" class="btn btn-orange btn-fat_width_100 btn-fat text-uppercase" id="buy-all-btn">
                        {% trans 'Купить все сразу' %}
                    </button>
                </form>
            {% endif %}
            {% comment %}Translators: 7344 руб. за 149 шт., 49,2 руб. за 1 шт.{% endcomment %}
            <p class="detail-main-info-buy-all__price-per-one">{{ all_and_one_price.1|country_price:country }} {% trans 'за' %} {{ all_and_one_price.0 }} {% trans 'шт.' %}<br>
                {{ all_and_one_price.2|country_price:country }} {% trans 'за' %} 1 {% trans 'шт.' %}
            </p>
        </aside>
    {% else %}
        {% if show_modal %}
            <div class="text-center mt-2">
                <button type="button" class="btn btn-sm btn-link"
                  data-toggle="modal" data-target="#buyAllModal" data-title="{% trans 'Купить все сразу' %}">
                    {% trans 'Купить все аранжировки автора со скидкой 70%' %}
                </button>
            </div>
        {% else %}
            <form method="post" action="{% url 'user_page_user_buy_all' author.slug %}">
                {% csrf_token %}
                {% bootstrap_form buy_all_form show_label=False %}
                <p class="text-center my-2">
                    <button type="submit" class="btn btn-sm btn-link" id="buy-all-btn">
                        {% trans 'Купить все аранжировки автора со скидкой 70%' %}
                    </button>
                </p>
            </form>
        {% endif %}
        <p class="text-center"><span class="small">({{ all_and_one_price.1|country_price:country }} {% trans 'за' %} {{ all_and_one_price.0 }} {% trans 'шт.' %}, {{ all_and_one_price.2|country_price:country }} {% trans 'за 1 шт' %}.)</span></p>
    {% endif %}
    {% if show_modal %}
    <div class="modal fade" id="buyAllModal" tabindex="-1" role="dialog" aria-labelledby="buyAllModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="{% url 'user_page_user_buy_all' author.slug %}" id="buy-all-guest-form" autocomplete="off">
                <div class="modal-header">
                    <div class="h5 modal-title" id="buyAllModalLabel">
                        {% trans 'Купить все сразу' %} (-70%)
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    <p class="text-body"><big>{% blocktrans with price=all_and_one_price.1|country_price:country count=all_and_one_price.0  %}
                        Вы собираетесь купить все аранжировки автора {{ author }} по цене {{ price }} за {{ count }} шт.{% endblocktrans %}
                        <br>{{ all_and_one_price.2|country_price:country }} {% trans 'за' %} 1 {% trans 'шт.' %}</big>
                    </p>
                    {% csrf_token %}
                    <div class="before-form"></div>
                    {% bootstrap_form buy_all_form %}
                    <div class="after-form"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Отменить' %}</button>
                    <button type="submit" class="btn btn-primary" id="buy-all-btn">
                        {% trans 'Перейти к оплате' %}
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endif %}