{% extends "offer/include/offer_card.html" %}
{% load embed_video_tags i18n price_tags thumbnail offer_tags shop_tags %}
{% block card-image %}
    {% if offer.preview %}
        <div class="card-player-placeholder">
        <picture>
            {% thumbnail offer.video_thumbnail "170x170" crop="center" quality=75 format='WEBP' as wim %}
                <source type="image/webp" srcset="{{ wim.url }}">
            {% endthumbnail %}
            <source type="image/png" srcset="{{ offer.video_thumbnail.url }}">
            <img src="{{ offer.video_thumbnail.url }}"
                 class="card-img-top"
                 alt="{{ offer.title }}"
                 title="{{ offer.title }}">
        </picture>
        </div>
        <a href="#" class="card-player card-player_size_big" data-offer="{{ offer.pk }}" data-size="170" title="{% trans 'Загрузить видео' %}">
            <i class="icon icon-youtube-play"></i>
        </a>
    {% else %}
        {% video offer.video_url '170x170' is_secure=True %}
    {% endif %}
{% endblock card-image %}
{% block card-body-title %}
<a href="{{ offer.get_absolute_url }}" title="{{ offer.title }}" class="h6 card-title analytics-title" data-offer="{{ offer.pk }}" data-brand="{{ offer.user_created }}">{% firstof offer.name offer.title %}</a>
{% favorite_button user offer %}
{% endblock card-body-title %}
{% block card-body %}
    {# Для проверки верности сортировки по дате  #}
    {#{% if request.user.is_authenticated and request.user.is_staff %}<p class="card-text card-text_font_small">{{ offer.date_approval_moderator }}-1</p>{% endif %}#}
<p class="card-text card-text_font_small"><a href="{{ offer.cpf_object.get_absolute_url }}">{{ offer.cpf }}</a></p>
{% endblock card-body %}
{% block card-statistics %}<div class="card-statistics">{% include 'offer/include/statistics.html' with payment=True grow=True %}</div>{% endblock card-statistics %}
{% block card-price %}
    <div class="card-price">
    {% if offer.is_free %}
        {% trans 'Бесплатно' %}
        {# выводит форму покупки(получения) или кнопку для открытия модального окна #}
        {% get_buy_one_click_form offer %}
    {% else %}
        <div class="flex-column">
            {% if offer.discount %}
                <div class="mb-2">
                    <div class="card-price__without-discount card-price_width-100">{% item_price offer %}</div>
                    <div class="card-price__with-discount analytics-price" title="{% if SALE.run %}{% trans 'Распродажа' %}{% else %}{% trans 'Скидка дня' %}{% endif %}: {{offer.discount}}%">
                        {% item_discount_price offer %}
                    </div>
                </div>
            {% else %}
            <span class="analytics-price">{% item_price offer %}</span>
            {% endif %}
        </div>
        {% if not no_cart_btn %}
        <div class="flex-column">
            <button
                class="btn card-price__button cart-add-button"
                data-offer="{{ offer.pk }}" data-out="short">
                {% trans 'в корзину' %}
            </button>
        </div>
        {% endif %}
    {% endif %}
    </div>
    {% if offer.is_free %}
        {# выводим модальное окно для формы покупки, если оно нам нужно #}
        {% get_buy_form_modal offer %}
    {% endif %}
{% endblock card-price %}
{% block edit-link %}
    {% if edit_link %}
        <div class="mt-3">
            <a href="{% url 'shopoffers_id_edit' offer.pk %}" title="{% trans 'Редактировать аранжировку' %}" class="btn btn-sm btn-outline-danger">
                {% trans 'Редактировать' %}
            </a>
        </div>
    {% endif %}
{% endblock edit-link %}
