{% load i18n %}
{% if purchases %}
    <section class="mb-2">
        {% block section_header %}
            {% if title %}
                <header>
                    <h5 class="my-3">{{ title }}</h5>
                </header>
            {% endif %}
        {% endblock section_header %}
        <ul class="list-unstyled">
            {% for purchase in purchases %}
                {% include 'cabinet/shop/include/cabinet_item.html' with item=purchase.get_offer %}
                {% if not forloop.last %}<hr>{% endif %}
            {% endfor %}
        </ul>
        <p class="text-center my-2"><a href="{% url 'my_purchases' %}"
                                       class="small">{% trans 'Посмотреть все купленные аранжировки' %}</a></p>
    </section>
{% endif %}
