{% load i18n %}
{% if offers %}
    <section class="mb-2">
        {% block section_header %}
            {% if title %}
                <header>
                    <h5 class="my-3">{{ title }}</h5>
                </header>
            {% endif %}
        {% endblock section_header %}
        <div class="card-group">
            {% for offer in offers %}
                {% include include_tpl with no_cart_btn=True %}
                {% if offers.count > 4 %}{% if forloop.counter|divisibleby:4 %}</div>
                    <div class="card-group">{% endif %}{% endif %}
            {% endfor %}
            </div>
    </section>
{% endif %}
