{% extends "offer/include/offers_horizontal.html" %}
{% block section_header %}
<header class="d-flex flex-row flex-wrap mb-2">
    <div class="flex-column flex-grow-1"><a href="{{ url }}"><h2>{{ title }}</h2></a></div>
    <div class="flex-column text-right">
        <a href="{{ url }}" class="small">{{ link }}</a>
    </div>
</header>
{% endblock section_header %}
