{% load i18n %}
{% if show_song_text %}
<div class="mt-4 detail-main-content-song-text">
    <h5>{% trans 'Текст песни и аккорды' %} &quot;{{ object.title }}&quot;</h5>
    {{ object.short_song_text|linebreaksbr }}
    <div class="collapse" id="collapseSongText">
        {{ object.collapse_song_text|linebreaksbr }}
    </div>
    <div class="row mt-1">
        <div class="col collapse-wrapper">
            <a id="collapseLink"
               data-toggle="collapse"
               aria-controls="collapseSongText"
               href="#collapseSongText"
               class="collapsed collapse-link"
               title="{% trans 'Показать текст песни полностью' %}">
               {# 'Развернуть или Свернуть' #}
            </a> &nbsp;&nbsp;&nbsp;
        </div>
        <div class="col text-right">
            <a href="{{ object.song_file.url }}"
               title="{% trans 'Скачать текст песни в формате pdf' %}"
               target="_blank"
               class="detail-main-content-song-text__link">
               <img src="/static/base/images/pdf.png" alt="pdf"> {% trans 'В формате PDF' %}
            </a>
        </div>
    </div>
</div>
{% endif %}