{% load args i18n %}
<div class="small">
    <span class="font-weight-bold" title="{% trans 'Сортировать по тегам' %}">{% trans 'По тегам' %}:</span>
    <a href="{% if is_cabinet or owner %}{{ request.path }}{% else %}{{ category.get_absolute_url }}?{% arg_omit request.GET 'tag' %}{% endif %}"
       title="{% trans 'Показать все аранжировки' %}">{% trans 'Все' %}</a> ({{ tags.main_count }})
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4">
            <menu class="list-unstyled">
                {% for tag in tags.tags %}
                    <li>
                        <a href="{% if is_cabinet or owner %}?{% args request.GET 'tag' tag.slug %}
                                 {% elif has_filter %}?{% multi_args request.GET 'tag' tag.slug %}
                                 {% else %}{% url 'shop-tag-main' shopoffers_type_slug=shopoffers_type.slug tag=tag.slug %}{% allargs request.GET %}{% endif %}"
                           class="{% if tag.active %}active{% endif %}"
                           title="{% trans 'Показать аранжировки ' %} {{ tag.name }}">{{ tag.name }}</a>
                        ({{ tag.count }})
                    </li>
                    {% if forloop.counter in tags.in_cols %}
                        </menu></div>
                        <div class="col-lg-4 col-md-4 col-sm-4">
                        <menu class="list-unstyled">{% endif %}
                {% endfor %}
                </menu>
                </div>
    </div>
</div>

