{% load i18n bootstrap4 static %}
{% if techniques.exists %}
    <button
        class="btn btn-light btn-sm text-uppercase ml-sm-3 mt-3 mt-sm-0"
        data-toggle="modal" data-target="#techniquesModal" data-title="{% trans 'Посмотреть техники' %}">
        {# <img src="{% static 'base/images/add_comment_btn.png' %}" alt="comment"> #}
        {% trans 'Посмотреть техники' %} ({{ techniques.count }})
    </button>
    <div class="modal fade" id="techniquesModal" tabindex="-1" role="dialog" aria-labelledby="techniquesModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="h5 modal-title" id="techniquesModalLabel">
                        {% trans 'Техники необходимые для изучения данной аранжировки' %}
                    </div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-left">
                    {% for tech in techniques.all %}
                        <div class="media mb-3">
                          {% if tech.image %}<img src="{{tech.image.url}}" class="mr-3 rounded" alt="{{ tech.name }}">{% endif %}
                          <div class="media-body">
                            <h6 class="mt-0">{{ tech.name }}</h6>
                            {{ tech.description }}
                          </div>
                        </div>
                    {% endfor %}
                    <div>{% trans 'Добавьте в корзину уроки, которые раскрывают все нюансы и секреты гитарных техник, используемых в этой аранжировке.' %}</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Закрыть' %}</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}