{% load i18n bootstrap4 %}
<div class="small mb-3">
    <form method="get" action="{{ request.path_info }}" id="sort-form">
        <div class="row mb-2">
            {% bootstrap_field sort_form.author_id size='small' form_group_class='col-md-6 col-sm-12 mb-3 mb-md-0 select2-wrapper' %}
            {% bootstrap_field sort_form.lvl size='small' form_group_class='col-md-6 col-sm-12 mb-3 mb-md-0' %}
        </div>
        {% comment %}
        <div class="row mb-2">
        {% bootstrap_field sort_form.cpf size='small' form_group_class='col-12 mt-2 mt-md-0' %}
        </div>
        {% endcomment %}
        <div class="mt-3 text-right">
        {% buttons %}
            {% if has_filter %}
                <a href="?" class="btn btn-outline-primary btn-sm mr-3" title="{% trans 'Отменить все установленные фильтры' %}">
                {% trans 'Сбросить фильтры' %}
                </a>
            {% endif %}
            <button type="submit" title="{% trans 'Применить' %}" class="btn btn-primary btn-sm">{% trans 'Применить' %}</button>
        {% endbuttons %}
        </div>
        {% for hidden in sort_form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
    </form>
</div>
