{% extends "offer/include/offer_card_small.html" %}
{% load thumbnail embed_video_tags i18n %}
{% block card-image %}
{% if offer.preview %}
    <div class="card-player-placeholder card-player-placeholder_size_small">
        <picture>
        {% thumbnail offer.video_thumbnail "105x105" crop="center" quality=75 format='WEBP' as wim %}
            <source type="image/webp" srcset="{{ wim.url }}">
        {% endthumbnail %}
        {% thumbnail offer.video_thumbnail "105x105" crop="center" quality=75 as im %}
            <source type="image/png" srcset="{{ im.url }}">
            <img src="{{ im.url }}"
                 alt="{{ offer.title }}"
                 title="{{ offer.title }}"
                 width="105px"
                 height="105px"
            >
        {% endthumbnail %}
        </picture>
    </div>
    <a href="#" class="card-player card-player_size_small" data-offer="{{ offer.pk }}" data-size="105" title="{% trans 'Загрузить видео' %}">
        <i class="icon icon-youtube-play"></i>
    </a>
{% else %}
    {% video offer.video_url '105x105' is_secure=True %}
{% endif %}
{% if not offer.is_free %}
    <div>
    <a class="btn btn-orange" href="{{ offer.get_absolute_url }}" title="{% trans 'Узнать подробнее...' %}">
                    {% trans 'Подробнее...' %}
    </a>
{#        <button#}
{#            class="btn card-price__button cart-add-button mt-3"#}
{#            data-offer="{{ offer.pk }}" data-out="short">#}
{#            {% trans 'в корзину 3' %}#}
{#        </button>#}
    </div>
{% endif %}
{% endblock card-image %}
{% block card-body-title %}
    {% if not modal %}
        <a href="{{ offer.get_absolute_url }}" title="{{ offer.title }}" class="h6 card-title analytics-title"
           data-offer="{{ offer.pk }}" data-brand="{{ offer.user_created }}">
            {% firstof offer.name offer.title %}
        </a>
    {% else %}
        {% load youtube_video_tags %}
        <a href="#" title="{% trans 'Подробнее' %}" class="h6 card-title"
           data-toggle="modal" data-target="#lesson{{ offer.pk }}Modal">
            {% firstof offer.name offer.title %}
        </a>
        <div class="modal fade" id="lesson{{ offer.pk }}Modal" tabindex="-1" role="dialog" aria-labelledby="lesson{{ offer.pk }}Modal" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="h5 modal-title" id="lesson{{ offer.pk }}ModalLabel">
                            {{ offer.title }}
                        </div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body text-left">
                        {% load_youtube_picture_player offer %}
                        <div class="mt-4" itemprop="description">
                            {{ offer.lesson.content|safe }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-orange cart-add-button" data-offer="{{ offer.pk }}" data-out="long">{% trans 'в корзину 1' %}</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Закрыть' %}</button>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock card-body-title %}
{% block card-body %}
<div class="card-text tags">
    {% for tag in offer.get_tags %}<a href="{{ tag.get_absolute_url }}">#{{ tag }}</a>
    {% if not forloop.last %}<br>{% endif %}{% endfor %}
</div>
{% endblock card-body %}

