{% load thumbnail i18n price_tags users_tags offer_tags embed_video_tags shop_tags %}
<section class="offer-item card mb-3">
  <div class="row no-gutters">
    <div class="col-md-3 d-flex">
        {% if offer.preview %}
            <div class="card-player-placeholder card-player-placeholder_width_100">
            <picture>
                {% thumbnail offer.video_thumbnail "170x170" crop="center" quality=75 format='WEBP' as wim %}
                    <source type="image/webp" srcset="{{ wim.url }}">
                {% endthumbnail %}
                <source type="image/png" srcset="{{ offer.video_thumbnail.url }}">
                <img src="{{ offer.video_thumbnail.url }}"
                     class="card-img"
                     alt="{{ offer.title }}"
                     title="{{ offer.title }}">
            </picture>
            </div>
            <a href="#" class="card-player card-player_size_big" data-offer="{{ offer.pk }}" data-size="170" title="{% trans 'Загрузить видео' %}">
                <i class="icon icon-youtube-play"></i>
            </a>
        {% else %}
            {% video offer.video_url '170x170' is_secure=True %}
        {% endif %}
        {% if offer.discount %}
        <div class='corner-ribbon corner-ribbon_size_big'>
            <span class='corner-ribbon__text corner-ribbon__text_size_big'>{{ offer.discount }}%</span>
        </div>
        {% endif %}
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h5 class="card-title">
            <a href="{{ offer.get_absolute_url }}"><span{% if offer.image %} offerprop="name"{% endif %}>{{ offer.title }}</span></a>
            {% favorite_button user offer %}
            {% if not offer.checked %} <span class="text-warning small">{% trans 'Ожидает модерации' %}</span>{% endif %}
        </h5>
        <p class="card-text">{{ offer.description|safe }}</p>
        <div class="row my-2">
            <div class="lead col-12 col-sm-6 col-md-4">
            {% if offer.is_free %}
                {% trans 'Бесплатно' %}
            {% else %}
                {% if offer.discount %}
                    <div class="mb-2">
                        <span class="card-price__without-discount">{% item_price offer %}</span>
                        <span class="card-price__with-discount analytics-price" title="{% if SALE.run %}{% trans 'Распродажа' %}{% else %}{% trans 'Скидка дня' %}{% endif %}: {{offer.discount}}%">
                            {% item_discount_price offer %}
                        </span>
                    </div>
                {% else %}
                <span class="analytics-price">{% item_price offer %}</span>
                {% endif %}
            {% endif %}
            </div>
            <div class="col-12 col-sm-6 col-md-4 mt-2 mt-sm-0">
                <a class="btn btn-sm btn-orange" href="{{ offer.get_absolute_url }}" title="{% trans 'Узнать подробнее...' %}">
                    {% trans 'Подробнее...' %}
                </a>
            </div>
            {% if not offer.is_free %}
            <div class="col-sm-6 d-none d-sm-flex d-md-none"></div>
            <div class="col-12 col-sm-6 col-md-4 mt-2 mt-sm-0">
                <button
                    class="btn card-price__button cart-add-button"
                    data-offer="{{ offer.pk }}" data-out="short">
                    {% trans 'Добавить в корзину' %}
                </button>
           </div>
            {% endif %}
        </div>
        <div class="row my-3">
            <div class="col-12 mb-1 mb-md-0 col-md-4 author small">{% get_link_to_profile user offer.user %}</div>
            <div class="col-12 mb-1 mb-md-0 col-md-4"><time>{{ offer.date_created|date:"d.m.Y H:i" }}</time></div>
            <div class="col-12 col-md-4">{% include 'offer/include/statistics.html' with offer=offer payment=True %}</div>
        </div>
      </div>
    </div>
  </div>
</section>