{% load i18n %}
{% if offers %}
    <aside class="sidebar-block">
         <div class="h5 sidebar-block__title">{{ title }}:</div>
         <div class="sidebar-block__description">{% trans 'Уроки, которые раскрывают все нюансы и секреты гитарных техник, используемых в этой аранжировке.' %}</div>
        {% for offer in offers %}
            <div class="sidebar-block-item">
                {% include include_tpl with modal=True request=request %}
            </div>
            {% if invisible and forloop.counter == visible_amount %}
            <div class="d-none" id="more-lessons-block">
            {% endif %}
        {% endfor %}
        {% if invisible %}
        </div>
        <a href="#" id="show-more-lessons" class="sidebar-block__footer">{% trans 'Показать все уроки к этой аранжировке' %}</a>
        {% endif %}
    </aside>
{% endif %}