{% extends "shop/base.html" %}
{% load static bootstrap4 django_bootstrap_breadcrumbs i18n tinycontent_tags bootstrap_dynamic_formsets %}
{% load render_bundle from webpack_loader %}
{% block head_css %}{% render_bundle 'shopForm' 'css' %}{% endblock head_css %}
{% block head_js %}
    {# костыль для formset & tags #}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    {{ form.media.js }}
{% endblock head_js %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock content_title %}
{% block breadcrumbs %}
    {{ block.super }}
    {% breadcrumb title '' %}
{% endblock %}

{% block content %}
    <div class="spoiler">
        <p>
           <a title="{% trans 'Щелкините для просмотра информации' %}" class="btn btn-orange spoiler__collapsed-link collapsed" data-toggle="collapse" href="#collapseSpoiler" aria-expanded="false" aria-controls="collapseSpoiler">
               {% trans 'Информация для авторов' %}
           </a>
        </p>
        <div class="collapse" id="collapseSpoiler">
            {% tinycontent_simple 'shop_form' category.pk LANGUAGE_CODE %}
        </div>
    </div>
    {% if error %}
        <div class="alert alert-danger">{{ error|safe }}</div>
    {% endif %}
    {% if form.non_field_errors %}
        {% bootstrap_form_errors form 'non_fields' %}
    {% endif %}
    <form method="post" enctype="multipart/form-data" action="{{ request.path_info }}" id="needs-validation" novalidate>
        {% csrf_token %}
        {% for fieldset in form.fieldsets %}
            <fieldset>
                <legend>{# bootstrap_icon fieldset.icon #}{{ fieldset.title }}:</legend>
                {% for field in fieldset %}
                    {% if field.name == 'price' %}
                        <div class="row">
                            <div class="col">{% bootstrap_field field %}</div>
                            {% if form.free %}<div class="col">{% bootstrap_field form.free %}</div>{% endif %}
                        </div>
                    {% else %}
                        {% bootstrap_field field %}
                    {% endif %}
                {% endfor %}
            </fieldset>
        {% endfor %}
        <fieldset>
            <legend>{# bootstrap_icon fieldset.icon #}{% trans 'Прикрепите файлы' %} * ({% trans 'обязательно' %}):</legend>
            <p class="text-secondary" id="file-helper">{% trans 'Необходим минимум 1 файл - Ноты и Табы в формате PDF (предпочтительно созданный в GuitarPro). Желателен также сам файл в формате GuitarPro.' %}</p>
            {% if files %}
                <div class="h5">{% trans 'Внутри товара' %}:</div>
                <ul id="shop-files-list">
                {% for file in files %}
                    <li><a href="{{ file.get_file_url }}">{{ file.user_filename }}</a>
                        {% if request.user.is_staff %}
                        <p><input type="text" id="file_text_{{ file.pk }}"
                               name="file_text_{{ file.pk }}" placeholder="{% trans 'Причина удаления файла' %}"></p>
                        {% endif %}
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            {% bootstrap_dynamic_formset formset can_delete=can_delete layout="horizontal" %}
        </fieldset>
        <br>
        {% buttons %}
            <button type="submit" class="form-submit btn btn-primary{% if not form.instance.pk or not form.instance.is_buy %} mt-4{% endif %}">{% trans 'Save' %}</button>
        {% endbuttons %}
    </form>
{% endblock content %}
{% block sidebar-first %}{% endblock sidebar-first %}
{% block sidebar-second %}{% endblock sidebar-second %}
{% block footer_css %}{{ form.media.css }}{% endblock footer_css %}
{% block footer_js %}{% render_bundle 'shopForm' 'js' %}{% endblock footer_js %}