{% extends "shop/base.html" %}
{% load static bootstrap4 django_bootstrap_breadcrumbs i18n %}
{% load render_bundle from webpack_loader %}
{% block head_css %}{% render_bundle 'formSelector' 'css' %}{% endblock head_css %}
{% block head_js %}{{ form.media.js }}{% endblock head_js %}
{% block title %}{{ object.title }}{% endblock title %}
{% block content_title %}<h1>{{ object.title }}</h1>{% endblock content_title %}
{% block breadcrumbs %}
    {% clear_breadcrumbs %}
    {% trans 'Главная' as index_crumb %}
    {% breadcrumb index_crumb 'index' %}
    {% breadcrumb object.shopoffers_type.name object.shopoffers_type %}
    {% breadcrumb object.title '' %}
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data" action="{{ request.path_info }}" class="mt-3 form-selector">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Сохранить' %}</button>
            <a href="{{ object.get_absolute_url }}" class="btn btn-secondary">{% trans 'Отменить' %}</a>
        {% endbuttons %}
    </form>
{% endblock content %}
{% block sidebar-first %}{% endblock sidebar-first %}
{% block sidebar-second %}{% endblock sidebar-second %}
{% block footer_css %}{{ form.media.css }}{% endblock footer_css %}
{% block footer_js %}{% render_bundle 'formSelector' 'js' %}{% endblock footer_js %}