{% extends "shop/base.html" %}
{% load django_bootstrap_breadcrumbs i18n %}
{% load render_bundle from webpack_loader %}
{% block head_css %}{% render_bundle 'reactForm' 'css' %}{% endblock head_css %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock content_title %}
{% block breadcrumbs %}
    {% trans 'Главная' as index_crumb %}
    {% breadcrumb index_crumb 'index' %}
    {% breadcrumb object.shopoffers_type object.shopoffers_type %}
    {% breadcrumb object.name object %}
    {% trans title as crumb %}
    {% breadcrumb crumb '' %}
{% endblock %}

{% block main-content-grid-classes %}col-12{% endblock main-content-grid-classes %}
{% block content %}
    <div id="root"></div>
{% endblock content %}
{% block sidebar-first %}{% endblock sidebar-first %}
{% block sidebar-news %}{% endblock sidebar-news %}
{% block sidebar-second %}{% endblock sidebar-second %}
{% block banner_sidebar %}{% endblock banner_sidebar %}
{% block footer_js %}
    {% render_bundle 'reactForm' 'js' %}
{% endblock footer_js %}