{% extends "shop/base-detail.html" %}
{% load i18n editlink_tags shop_offers_tags offer_tags tinycontent_tags %}

{% block detail-main-description %}
  {% if not user_bought %}
  <div class="justify-content-center justify-content-between
  detail-before-description-buttons">
      {# выводит форму покупки или кнопку для открытия модального окна #}
      {% get_buy_one_click_form object size='normal' %}
      {% if not object.is_free %}
          <div class="flex-column mb-2 mr-2 mr-sm-0">
              <button
                  class="btn btn-sm btn-outline-dark btn-fat text-uppercase cart-add-button"
                  data-offer="{{ object.pk }}" data-out="long">
                  {% trans 'Добавить в корзину' %}
              </button>
          </div>
      {% endif %}
  </div>
  {% endif %}
  <div class="detail-description-wrapper">{{ object.lesson.content|safe }}</div>
{% endblock detail-main-description %}

{% block detail-tinycontent-block %}
    {% tinycontent_simple 'lessons-detail-description' LANGUAGE_CODE %}
{% endblock detail-tinycontent-block %}

{% block sidebar-first %}
    {{ block.super }}
    {% if request.user.is_authenticated %}
        {% get_edit_link %}
        {% if has_permission %}
            <p><a href="{% url 'shop-related-offers' object.pk %}"
                  title="{% trans 'С этим товаром покупают еще...' %}">
                {% trans 'Связанные товары' %}
            </a></p>
        {% endif %}
    {% endif %}
    {% load_related_offers_or_similar_by_other_authors object %}
{% endblock sidebar-first %}

{% block footer_js %}
    {{ block.super }}
{% endblock footer_js %}
