{% extends "shop/base-list.html" %}
{% load i18n shop_tags flatpage_url %}
{% load render_bundle from webpack_loader %}
{% block content_title_add_link %}
    {% if request.user.is_staff %}
        <div class="col text-right"><a href="{% url 'my_lessons_create' %}">{% trans 'Добавить урок' %}</a></div>
    {% endif %}
{% endblock content_title_add_link %}
{% block form_filter %}{% include 'shop/lessons/include/form-filter.html' %}{% endblock form_filter %}
{% block content_items_group %}
<div>
    {% for result in object_list %}
        {% if is_elasticsearch %}
            {% include 'shop/lessons/include/item_horizontal.html' with offer=result.object %}
        {% else %}
            {% include 'shop/lessons/include/item_horizontal.html' with offer=result %}
        {% endif %}
    {% empty %}
        <p>{% trans 'К сожалению список уроков, удовлетворяющий выбранным условиям, еще пуст.' %}</p>
    {% endfor %}
</div>
{% endblock content_items_group %}

{% block banner_sidebar %}{% endblock banner_sidebar %}
{% block content_footer %}
{% if not 'page' in request.GET %}
    <div class="mt-4">
    {% if bestsellers %}
    {% elif tag and LANGUAGE_CODE == 'ru' %}
        {{ tag.description }}
    {% else %}
        {% blocktrans %}
        СкороНавыки - это новый формат обучения для гитаристов, когда вы максимально быстро обучаетесь новым гитарным
        навыкам и знаниям из музыкальной теории. Каждый урок состоит из видео-урока и подробного лекционного конспекта
        в формате PDF. Каждый урок полностью раскрывает одну конкретную тему, даёт теоретические знания и набор
        упражнений для закрепления материала.
        {% endblocktrans %}
    {% endif %}
    </div>
{% endif %}
{% endblock content_footer %}
