{% extends "shop/base-detail.html" %}
{% load i18n editlink_tags shop_tags cache offer_tags %}

{% block detail-main-description %}
    {{ object.description|safe }}
    <p>
        {% trans 'Внутри товара' %}:
    </p>
    <ul>{% for file in object.userfile_set.all %}
        <li class="ol_li mb-2 files-item">
            <span class="files-item__data">
                {{ file.format_file.name }} {{ file.mime_type|upper }}
                {% if has_permission or request.user.id == object.user_created_id %}
                    <span title="{% trans 'Изменить описание файла' %}"
                         class="inline-edit-link edit-files-description">
                        ({% if file.note %}{{ file.note }}{% else %}{% trans 'Добавить описание' %}{% endif %})
                    </span>
                {% else %}
                    {% if file.note %}({{ file.note }}){% endif %}
                {% endif %}
            </span>
            {% if has_permission or request.user.id == object.user_created_id %}
            <form class="files-item__form d-none" action="{% url 'shop_update_file' file.id %}" method="post">
                {% csrf_token %}
                {{ file.user_filename }}<br/>
                <input type="text" name="note" value="{{ file.note|default:'' }}" autocomplete="off"
                       placeholder="{% trans 'Краткое описание' %}" class="form-control mb-2">
                <button class="btn btn-sm btn-primary" type="submit">{% trans 'Сохранить' %}</button>
                <button class="btn btn-sm btn-secondary" type="button">{% trans 'Отменить' %}</button>
            </form>
            {% endif %}
        </li>
    {% endfor %}</ul>
{% endblock detail-main-description %}

{% block buy-all-arrangements %}
    {# купить все аранжировки автора #}
    {% get_buy_all_form object.user_created %}
{% endblock buy-all-arrangements %}

{% block sidebar-first %}
    {{ block.super }}
    {% if request.user.is_authenticated %}
        {% get_edit_link %}
        {% if has_permission or request.user.id == object.user_created_id %}
            <p><a href="{% url 'shop-song-text' object.pk %}" title="{% trans 'Добавить/Редактировать текст песни' %}"> {% trans 'Текст песни' %}</a></p>
        {% endif %}
        {% if has_permission %}
            <p><a href="{% url 'shop-techniques' object.pk %}" title="{% trans 'Установить/Редактировать техники' %}"> {% trans 'Техники' %}</a></p>
        {% endif %}
    {% endif %}

    {% if object.techniques.exists %}
        {% cache 600 lessons LANGUAGE_CODE object.pk %}
        {% load shop_offers_tags %}
        {# если указаны техники то выводим уроки, иначе другие аранжировки #}
        {% lessons_for_arrangement_by_technique object %}
        {% endcache %}
    {% else %}
        {# similar_items_by_other_authors object #}
        {% random_offers count=6 shopoffers_type=site_info.shop_lessons_type_slug layout='vertical' %}
        {% similar_items_by_other_authors object %}
        {% if SALE.run %}
            {% random_offers %}
        {% else %}
            {% popular_offers group='tab' count=2 layout='vertical' show_replacement=True %}
        {% endif %}
    {% endif %}
{% endblock sidebar-first %}

{% block footer_js %}
    {{ block.super }}
    {# сбор аналитики GuitarOnly #}
    <script>
      window.onload = function() {
        if (!window.debug){
          {% comment %}
            let allBtn = document.getElementById('buy-all-btn');
            if (allBtn){
                allBtn.addEventListener('click', function (event) {
                    // ym('{{ site_info.yandex_metrica }}', 'reachGoal', 'GO-TO-PAY');
                    // fbq('track', 'InitiateCheckout');
                    return true;
                });
            }
            let buyBtn = document.getElementById('buy-one-click');
            if (buyBtn) {
              buyBtn.addEventListener('click', function (event) {
                // ym('{{ site_info.yandex_metrica }}', 'reachGoal', 'GO-TO-PAY-ONE-CLICK');
                // fbq('track', 'InitiateCheckout');
                return true;
              });
            }
          {% endcomment %}
          var price = 0;
          var price_block = document.getElementById('analytics-price-{{ object.pk }}');
          if (price_block){
              price = parseFloat(price_block.innerHTML);
              if (!price) {
                price = parseFloat(price_block.innerHTML.substring(1));
              }
          }
          dataLayer.push({
            'event': 'productDetail',
            'ecommerce': {
              'currencyCode': '{{ currency.iso_code }}',
              'detail': {
                'products': [{
                  'name': '{{object.title}}',
                  'id': '{{object.pk}}',
                  'price': price,
                  'brand': '{{ object.user_created }}',
                }]
              }
            }
          });
        }
      };
    </script>
{% endblock footer_js %}
