{% extends "offer/include/offer_card_small.html" %}
{% load thumbnail embed_video_tags i18n %}
{% block card-image %}
{% if offer.preview %}
    <div class="card-player-placeholder card-player-placeholder_size_small">
        <picture>
        {% thumbnail offer.video_thumbnail "105x105" crop="center" quality=75 format='WEBP' as wim %}
            <source type="image/webp" srcset="{{ wim.url }}">
        {% endthumbnail %}
        {% thumbnail offer.video_thumbnail "105x105" crop="center" quality=75 as im %}
            <source type="image/png" srcset="{{ im.url }}">
            <img src="{{ im.url }}"
                 alt="{{ offer.title }}"
                 title="{{ offer.title }}"
                 width="105px"
                 height="105px"
            >
        {% endthumbnail %}
        </picture>
    </div>
    <a href="#" class="card-player card-player_size_small" data-offer="{{ offer.pk }}" data-size="105" title="{% trans 'Загрузить видео' %}">
        <i class="icon icon-youtube-play"></i>
    </a>
{% else %}
    {% video offer.video_url '105x105' is_secure=True %}
{% endif %}
{% if not offer.is_free %}
    <div>
        <button
            class="btn card-price__button cart-add-button mt-3"
            data-offer="{{ offer.pk }}" data-out="short">
            {% trans 'в корзину' %}
        </button>
    </div>
{% endif %}
{% endblock card-image %}
{% block card-body-title %}<a href="{{ offer.get_absolute_url }}" title="{{ offer.title }}" class="h6 card-title analytics-title"
                              data-offer="{{ offer.pk }}" data-brand="{{ offer.user_created }}">{% firstof offer.name offer.title %}</a>{% endblock card-body-title %}
{% block card-body %}<div class="card-text"><a href="{{ offer.cpf_object.get_absolute_url }}">{{ offer.cpf }}</a></div>{% endblock card-body %}

